.clearfix {
    clear: both;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    height: auto;
    color: #555;
    
    text-rendering: optimizeLegibility;
}

body {
    height: auto;
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    background-color: #fff;
    box-sizing: border-box;
    height: 100%;
}

.header {
    background-image: linear-gradient(45deg,#5200c5, rgba(0,0,0,0.2)), url(https://images.pexels.com/photos/1374357/pexels-photo-1374357.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: auto;
    min-height: 100vh;
    z-index: 1;
    position: relative;
    box-sizing: border-box;
}

.index-brand-logo {
    position: absolute;
    top: 5%;
    left: 10%;
    color: #ffffff !important;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    font-weight: 900;
}
.custom-nav {
    background-color: #fff !important;
    background-color: #fff !important;
    background-color: #fff !important;
    background-color: #fff !important;
    background-color: #fff !important;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -ms-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.custom-nav .navbar-brand {
    color: #6300ea !important;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    font-weight: 900;
}

.custom-nav ul li a {
    color: #ffffff !important;
}

.custom-nav navbar-toggler {
    color: #ffffff !important;
}

.position {
    position: relative;
}

.content {
    /* margin-top: 120px; */
    position: relative;
    color: #f7f7ff;
}

.hero-text {
    position: fixed;
    top: 30%;
    left: 10%;
  
}


.content p {
    font-size: 1.3rem;
}

.content-form {
    margin-top: 120px;
    color: #888888;
}

/* === Signup Form Design === */

.signup-cover .card {
    border: 0;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 15px rgba(0,0,0,0.5);
    -ms-box-shadow: 0 0 15px rgba(0,0,0,0.5);
    -o-box-shadow: 0 0 15px rgba(0,0,0,0.5);
    position: relative;
    
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    margin: 20px;
}


.login-cover .card {
    border: 0;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 15px rgba(0,0,0,0.5);
    -ms-box-shadow: 0 0 15px rgba(0,0,0,0.5);
    -o-box-shadow: 0 0 15px rgba(0,0,0,0.5);
    position: relative;
    
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    margin: 20px;
}


.signup-cover .card-header {
    background-color: #ffffff;
    color: #6300ea;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-cover .card-header {
    background-color: #ffffff;
    color: #6300ea;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
}

.signup-cover .card-body {
    background-color: #ffffff;
}

.login-cover .card-body {
    background-color: #ffffff;
}

.form-heading {
    font-weight: 700;
    text-align: center;
    color: #6300ea
}

.form-control {
    border-color: #6300ea; 
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
}

.form-control:hover {
    cursor: pointer;
}

textarea:focus,
select:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="date"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.btn:focus,
.uneditable-input:focus {   
  border-color: #6300ea;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px  #6300ea80;
  outline: 0 none;
}

.form-control:focus {
    border-color: #6300ea80;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px  #6300ea80;
    outline: 0 none;
}

.form-control {
    color: #6300ea !important;
}

textarea,
input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="search"],
.uneditable-input: {   
    color: #6300ea !important;
}

.generate-card-form  {
    margin-top: 120px !important;
}

.form-btn {
    background-color: #6300ea;
    border: 0;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    font-size: 16px;
}

.form-serach {
    background-color: #6300ea;
    color: #fff;
    font-size: 16px;
}

.form-btn:hover {
    background-color: #6300ea;
}

.form-serach:hover {
    background-color: #6300ea;
}

.form-btn:focus {
    background-color: #6300ea !important;
}

.card::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 250px;
    top: 5px;
    border: 0px;
    -webkit-transform:  rotate(-10deg);
    -moz-transform:  rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
    background-color: #6300ea;
    z-index: -1;
}

input::placeholder {
    color: #6300ea !important;
    font-size: 14px;
}

.signup-cover {
    display: none
}

.switch {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    color: #6300ea !important;
}

.fa-user-plus,
.fa-user-lock {
    -o-animation: icon-animate 3s infinite;
    -moz-animation: icon-animate 3s infinite;
    -webkit-animation: icon-animate 3s infinite;
}

@keyframes icon-animate {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }

}

.name-error,
.email-error,
.password-error,
.confirm-error {
    font-family: 'Lato';
}

.fa-check-circle {
    font-family: 'Lato';
    font-weight: 300;
}

.border-red {
    border-color: red;
    color: red !important;
}

.error {
    color: red;
    font-weight: 300;
}


.border-green {
    border-color: green;
    color: green !important;
}

.success {
    color: green;
}

.fa-spinner {
    color: #6300ea;
}

.progress {
    width: 100%;
    height: 4px;
    position: relative;
    background-color: #6300ea;
}

.progress::before {
    position: absolute;
    content: "";
    width: 0%;
    height: 4px;
    top: 0%;
    left: 0%;
    background-color: orange;
    animation: wait 1s infinite;
    -webkit-animation: wait 1s infinite;
}

@keyframes wait {
    10%{width: 10%}
    30%{width: 30%}
    50%{width: 50%}
    70%{width: 70%}
    100%{width: 100%}
}

.success-area {
    background-color: #ffffff;
}


.logout {
    font-size: 1rem;
}

.logout:hover {
    color: #6300ea !important;
}

.navbar-nav li {
    margin-top: 0.5rem;
}
.name {
    font-size: 1.3rem;
    margin-right: 2rem;
}



.header-nav {
    /* position: absolute; */
    background: #ffffff !important;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -ms-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


.header-nav .navbar-brand {
    
    color: #6300ea !important;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    font-weight: 900;
    z-index: 4;
}

.header-nav ul li a {
    color: #ffffff !important;
}

.navbar-light .navbar-toggler {
    color: #ffffff;
    border-color: #fff;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}



.side-nav {
    /* position: absolute; */
    background-color: #6300ea;
    width: 1000 !important;
    height: auto !important;
    min-height: 100%;
    z-index: 3;
    padding: 0;
    padding-top: 4.5rem;


}


.side-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
}

.side-nav ul li {
    padding: 20px 10px;
    /* border-bottom: 1px solid #555555; */
}

.dashboard-header .btn-light {
    background-color: #6300ea !important;
    color: #fff !important;
}

.dashboard-header .btn-light:hover {
    background-color: #7e23fd !important;
    color: #fff !important;
}


.side-nav ul li a {
    color: #ffffff;
    text-decoration: none;
    width: 100%;
}

.side-nav ul li:hover {
    background-color: #7521eb;
    border-bottom: #fff;
    color: #21e6c1 !important;
}


.side-nav ul li a i {
    color: #fff;
    margin: 0 1rem 0 1rem;

}

.brand-logo {
    color: #ffffff !important;
    font-family: 'Pacifico', cursive;
    text-decoration: none;
    text-align: center;
    width: 100%;
    font-size: 30px;
    font-weight: 900;
}


/* th {
    background-color: #888888 !important;
    color: #eeeeee!important;
} */


.dashboard-bg {
    width: 100%;
    height: auto !important;
    min-height: 100vh;
    background-color: #ffffff;
    padding: 2rem;
}

.dashboard-header {
    height: 3rem;
    background-color: #fff;  
}

.dashboard-header h3 {
    word-spacing: 2px;
    font-weight: 400;
    width: auto;
    text-transform: uppercase;
    /* text-align: center; */
    letter-spacing: 1px;
    font-size: 1.5rem;
    word-spacing: 4px;
    color: #888888; 
    padding-top: 0.7rem;
}

.generate-card-form {
    width: 100%;
}
.generate-card-form form {
    width: 70%;
    margin: 0 auto
}

.alert-format {
    width: 60%;
    margin: 0 auto;
}

.one {
    float: left;
}

.two{
    float: right;
}

